﻿<!DOCTYPE html>
<html>
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.kaffeelesen.com/symbole/k.jpg" /> 
    <title> KARADENİZ EVİ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <h6> <b /> @Html.ActionLink(WebApplication2.Resources.Language.uygulama_adı, "Index", "Home/About", new { area = "" }, new { @class = "navbar-brand" })</b></h6>
            </div>
            <div class="nav-tabs-justified">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home/Index">@WebApplication2.Resources.Language.link1</a></li>
                    <li><a href="/Home/About">@WebApplication2.Resources.Language.link6</a></li>
                    <li><a href="/Home/Contact">@WebApplication2.Resources.Language.link5</a></li>
                    <li><a href="/Home/page1">@WebApplication2.Resources.Language.link4</a></li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class=" nav navbar-nav navbar-right">
                    <li><a href="/Home/Index?Language=tr">Türkçe</a></li>
                    ,<li><a href="/Home/Index?Language=en">English</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -KARADENİZ EVİ</p>
        </footer>
    </div>
    <div class="nav-tabs-justified">
        <ul class="nav navbar-nav navbar-right">
            <a href="https://www.facebook.com/karadenizin.evi" target=new><img src="http://in.sitekodlari.com/fb/facebook7.png" border="0"></a>
            <a href="http://Instagram.com/https://www.instagram.com/karadenizinevi/" target=new><img src="http://in.sitekodlari.com/insta/20.png" border="0"></a>
            <a href="http://twitter.com/https://twitter.com/KaradenizinEvi" target=new><img src="http://in.sitekodlari.com/tw/20.png" border="0"></a>
        </ul>
    </div>    
              @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
