﻿@{
    ViewBag.Title = "Foto Galeri";
}
<h2><b>@ViewBag.Title</b></h2>



<img src="~/resimler/man3.jpg" class="img-thumbnail" alt="Cinque Terre" width="900" height="700">
<img src="~/resimler/man4.jpg" class="img-thumbnail" alt="Cinque Terre" width="900" height="700">
<img src="~/resimler/man5.jpg" class="img-thumbnail" alt="Cinque Terre" width="900" height="700">
<img src="~/resimler/man1.jpg" class="img-thumbnail" alt="Cinque Terre" width="900" height="700">

<img src="~/resimler/man2.jpg" class="img-thumbnail" alt="Cinque Terre" width="900" height="700">