﻿@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/resimler/ress1.jpg" height="300" widhth="5000">
        </div>

        <div class="item">
            <img src="~/resimler/res2.jpg" height="300" widhth="2200">
        </div>

        <div class="item
">
            <img src="~/resimler/mıhlama.jpg" height="300" widhth="2200">
        </div>

        <div class="item">
            <img src="~/resimler/Amasra.jpg" height="300" widhth="2200">
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="nav-tabs-justified">
            <div class="nav nav">
                <h4><i><p align="center"><a style"color=FFFFFFF">"Yöresel lezzetlerin temsilcisi bir Karadeniz Mutfağı” Karadeniz Evi</a></p></i></h4>
            </div>
        </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/resimler/bir.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                <h2>Karadeniz Yöresel Lezzetler</h2>
                <p>
                    Karadeniz Yaylalarından gelen lezzetleri, aynı tazelikte sofranıza getiriyoruz.
                    Karadeniz Mutfağının temsilcisi Anzer Sofrası,Karadeniz kıyısında,
                    lezzet durağı olmaya devam ediyor. Memleket hasreti gidermek isteyen Karadenizlilerin...
                </p>
                <p><a> <ul>@Html.ActionLink("Devamı için", "Contact", "Home")</ul></a></p>
            </div>
            <div class="col-md-4">
                <img src="~/resimler/iki.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                <h2>Karadeniz Evi</h2>
                <p>Karadeniz Mutfağının İstanbul’daki temsilcisi Karadeniz Evi, İstanbul’un  Karadeniz kıyısında
                 lezzet durağı olmaya devam ediyor. Memleket hasreti gidermek isteyen Karadenizlilerin uğrak noktası olan 
                Karadeniz Evi Sofrası hizmet vermektedir.</p>
    
            </div>
            <div class="col-md-4">
                <img src="~/resimler/üç.png" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                <h2>Köy Kahvaltısı</h2>
                <p>Muhlama, Rize Kavurma, Omlet, Süzme bal, dut pekmezi,tereyağı,kaymak,köy peyniri,çeçil peyniri,beyaaz peynir,çeri domates salatalık,yeşillik
                siyah zeytin,yeşil zeytin,muhlama,kavurma...</p>
                <p><a> <ul>@Html.ActionLink("Devamı için", "page1", "Home")</ul></a></p>
            </div>
        </div>
   <h2 align="center"><b>YÖRESEL LEZZETLER</b></h2>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/3kucuk.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Karalahana Sarması</p>
        </div>
    <div class="col-md-3">
        <img src="~/resimler/anzer köfte.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Anzer Köfte</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/hamsi tava.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Hamsi Tava</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/hamsili-pilav.png"  class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Hamsili Pilav</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/karalahana.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Karalahana Çorbası</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/mıhlama2.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Mıhlama</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/Rize Kavurması.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Rize Kavurması</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/trabzon güveci.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Trabzon Güveci</p>
        </div>
    </div>
